* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: solid;

    display: flex;
    flex-direction: column;
}

.top{
    height: 10%;
    width: 100%;

    background-color: red;
    box-sizing: border-box;
    border: solid;
}

.top img{
    border: solid;
}

.bottom{
    height: 90%;
    width: 100%;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: tan;
    z-index: 1;

}

/* 選單邊框 */
.menu-items{
    /* display: none; */

}

.board{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 2;

}

/*開啟menu ----------------------------------- */

.bottom.show .menu{

    transition: 0.5s;
    width: 20%;
}
.bottom.show .board{

    transition: 0.5s;
    left: 20%;
    width: 80%;
}

@media screen and (max-width:800px){
    .bottom.show .menu{

        transition: 0.5s;
        left: 0;
        width: 50%;
        z-index: 3;
    }
    .bottom.show .board{

        transition: 0.5s;
        left: 0;
        width: 100%;
    }
}