* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    /* box-sizing: border-box; */

    display: flex;
    flex-direction: column;
    /* background-color: rgba(210, 210, 210, 0.2); */

}

.top {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(252, 163, 20, 0.775);
    box-shadow: 0px 5px 15px 0px rgba(101, 101, 101, 0.159);

    z-index: 9999;
}

.top a {
    height: 100%;
    display: flex;
    align-items: center;

    margin-left: 2%;
    font-size: 35px;
    color: white;
    font-weight: 800;
}

.top img {
    height: 100%;
    width: 65px;
    margin-left: 10%;
}

.bottom {
    height: 90%;
    width: 100%;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;

}

/* 選單邊框 */
.menu-items {
    margin-top: 10%;
    display: none;
}
.nav-links{
    width: 100%;
}
.menu-items li {
    width: 100%;
    list-style: none;
}

.menu-items li a:hover {
    background-color: white;
    border-radius: 20px;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}
.menu-items li img{
    width: 60px;
    margin-left: 10px;
}
.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 50px;
    width: 5px;
    /* border-radius: 50%; */
    background-color: rgb(255, 200, 0);
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: rgb(255, 200, 0);
}

.menu-items li a i {
    font-size: 24px;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #70707071;
    margin-right: 10px;
}

.menu-items li a .link-name {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    transition: all 0.2s ease;
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    z-index: 2;
}

.board-item {
    margin-top: 2%;
    /* margin-left: 5%;
    margin-right: 10%; */
}

.NumberOfNTOUCard{
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

/*開啟menu ----------------------------------- */

.bottom.show .menu {

    transition: 0.5s;
    left: 0;
    width: 20%;
    z-index: 3;
    background-color: #feecd1;
}

.bottom.show .board {

    transition: 0.5s;
    left: 15%;
    width: 85%;
}

.bottom.show .menu-items {
    display: flex;
}

@media screen and (max-width:1100px) {
    .bottom.show .menu {
        width: 35%;
        background-color: #feecd1;

    }

}

@media screen and (max-width:650px) {
    .bottom.show .menu {

        transition: 0.5s;
        left: 0;
        width: 50%;
        z-index: 3;
        background-color: #feecd1;

    }

    .bottom.show .board {

        transition: 0.5s;
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .bottom.show .menu {

        transition: 0.5s;
        left: 0;
        width: 70%;
        z-index: 3;
        background-color: #fbcf8a;

    }
}

/* 共用項目 */

.content p {
    margin-top: 10px;
    margin-bottom: 1px;
    font-weight: 600;
}

.content .title {
    font-size: 22px;

}
.content{
    margin-left: 10px;
    margin-right: 10px;
}
.content input{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 22px;

}

.content .go {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

/* 新增項目-------------------------------------------------------------------- */

.additem {
    display: none;
}

.additem.show {
    display: block;
}

.addContainer {
    display: flex;
}

.addContainer form {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: solid;
}

.addContainer .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addContainer .content h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
    margin-bottom: 4px;
}

.name {
    width: 40%;
}

.phone {
    width: 57%;
    margin-left: 3%;
}
.business_hour, .website, .address ,.image{
    width: 100%;
}
.additem .go {
    width: 100%;
}

/* 刪除項目-------------------------------------------- */

.deleteitem {
    display: none;
}

.deleteitem.show {
    display: block;
}

.deleteContainer {
    display: flex;
}

.deleteContainer form {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: solid;
}

.deleteContainer .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.deleteContainer .content h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
    margin-bottom: 4px;
}

.deleteContainer .nameTitle {
    width: 100%;
}
.deleteContainer .name{
    width: 100%;
}

.deleteContainer button{
    width: 100%;
    margin-top: 10px;
    border: none;
}
/* 修改項目-------------------------------------------- */

.updateitem {
    display: none;
}

.updateitem.show {
    display: block;
}

.updateContainer {
    display: flex;
}

.updateitem form {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: solid;
}

.updateitem .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.updateitem .content h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
    margin-bottom: 4px;
}

.updateitem .nameTitle{
    width: 100%;
}

.updateitem .name{
    width: 100%;
}

.updateitem .text{
    width: 100%;
}

.updateitem button{
    width: 100%;
    margin-top: 10px;
    border: none;
}
/* 修改項目-------------------------------------------- */
.addCatatory {
    display: none;
}

.addCatatory.show {
    display: block;
}

.addCatatoryContainer {
    display: flex;
}

.addCatatory form {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: solid;
}

.addCatatory .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.addCatatory .content h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);   
    margin-bottom: 4px;
}

.addCatatory .nameTitle{
    width: 100%;
    margin-top: 10px;
}

.addCatatory .name{
    width: 100%;
}

.addCatatory .text{
    margin-top: 10px;
    width: 80%;
}

.addCatatory .form-select{
    margin-top: 10px;
    width: 80%;
}

.addCatatory input{
    width: 100%;
    margin-top: 10px;
}